table {
    border-collapse: collapse;
    font-size: 20px;
}

thead th:first-child {
    background-color: black;
}

thead th:not(:first-child) {
    background-color: #333333;
}

thead th {
    color: white;
    padding: 15px;
}

tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

.check {
    color: #635994;
}

tbody td, tbody th {
    text-align: center;
    padding: 10px 25px 10px 25px;
    border: 1px solid lightgray;
}

caption {
    caption-side: bottom;
    font-size: 16px;
    padding: 10px;
}
