main {
    position: relative;
}

.data {
    position: absolute;
    top: 0;
    left: 0;
}

.weather {
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon {
    display: none;
}

.weather h2::after {
    content: " 🌤️";
}