:root {
    --primary-color: #496f5d;
    --secondary-color: #afc4ba;
    --accent1-color: #c0c0c0;
    --accent2-color: #a07113;
    --heading-font: "Boldonse", system-ui;
    --paragraph-font: "Gidole", sans-serif;
}

header,
footer,
main {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav {
    display: none;
}

nav.open {
    display: block;

}

nav {
    background-color: var(--primary-color);
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: black;
}

footer {
    background: var(--primary-color);
    padding: 10px;
    color: white;
}

footer,
h1,
figure {
    text-align: center;
}